body {
	font-family: "Open Sans";
	background: #F7F6F2;
}

.page_header {
	height: 30px;
	width: 980px;
	margin: 0 auto;
	margin-top: 10px;
}

.page_header.fluid {
	width: 100%;
	padding-left: 30px;
}

.page_header .brand {
	font-size: 1.3em;
	padding: 10px 0;
	color: #444;
	margin-right: 50px;
}

.container {
	padding: 20px;
	width: 980px;
	margin: 0 auto;
}

.container-fluid {
	padding: 20px;
	width: 95%;
	margin: 0 auto;
}

.btn {
	border-radius: 3px;
	padding: 5px 10px;
	color: #333;
	background: #eee;
	border: solid 1px #ccc;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
}

.btn:disabled {
	opacity: 0.6;
	cursor: default;
}

.default {
	background: #eee;
	border: solid 1px #ccc;
	color: #333;
}

.blue {
	background: #176CED;
	color: #fff;
	border: solid 1px #176CED;
}

.green {
	background: #009856;
	color: #fff;
	border: solid 1px #009856;
}

.red {
	background: #D13D29;
	color: #fff;
	border: solid 1px #D13D29;
}

.yellow {
	background: #FFB402;
	color: #fff;
	border: solid 1px #FFB500;
}

.black {
	background: #333;
	color: #fff;
	border: solid 1px #333;
}

.btn:hover {
	/*opacity: 0.9;*/
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

input[type="text"], input[type="password"], input[type="number"], select, textarea {
	padding: 5px 10px;
	border: solid 1px #ccc;
	border-radius: 3px;
	outline: none;
	color: #333;
	font-size: 13px;
	height: 30px;
	background: #fff;
}

input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, select:disabled, textarea:disabled {
	background: #eee;
}

.panel {
	padding: 20px;
	border: solid 1px #ccc;
	border-radius: 3px;
	margin: 20px 0 20px 0;
	overflow: hidden;
}

.panel.noborder {
	border: none;
}

.lov {
	display: inline-block;
	overflow: hidden;
}

.lov input[type="text"] {
	border-radius: 3px 0 0 3px;
	float: left;
}

.lov button {
	border-radius: 0 3px 3px 0;
	float: left;
	border-left: none;
}

.panel > .header {
	/*background: #1B2124;*/
	margin: -20px;
	padding: 13px;
	font-size: 18px;
	color: #434343;
	overflow: hidden;
}

.panel > .header .close {
	background: #333;
	color: #fff;
	height: 20px;
	border-radius: 50%;
	width: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	padding-top: 1px;
	padding-right: 1px;
	cursor: pointer;
	float: right;
}

.panel > .body {
	padding-top: 10px;
	margin-top: 20px;
	/*background: #fff;*/
	overflow: hidden;
	clear: both;
}

.menu {
	position: relative;
}

.menu:hover {
	background: #fff;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	z-index: 100;
	color: #111;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 15px;
	left: -1px;
	background: #fff;
	z-index: 99;
	color: #333;
	min-width: 100px;
	border: solid 1px #ddd;
	border-top: solid 1px #ddd;
	border-radius: 0 3px 0 0;
	overflow: hidden;
	display: none;
}

.menu > ul > li {
	padding: 7px 10px;
	color: #333;
	font-size: 14px;
	text-align: left;
	min-width: 100px;
	white-space: nowrap;
}

.menu:hover ul {
	display: block;
}

.menu > ul > li:hover {
	background: #fafafa;
}

.menu > ul > li.header {
	padding: 10px 3px 0px 10px;
	font-size: 12px;
	color: #666;
}

.menu > ul > li.header:hover {
	background: none;
	cursor: default;
}

.menu > ul > li.divider {
	padding: 0;
	border-bottom: solid 1px #ddd;
}

.btn_group {
	clear: both;
	overflow: hidden;
}

.btn_group .btn {
	border-radius: 0;
	margin: 0;
	float: left;
	border-left: solid 1px #ccc;
	border-right: none;
}

.btn_group .btn:first-child {
	border-radius: 3px 0 0 3px;
	border-left: solid 1px #ccc;
}

.btn_group .btn:last-child {
	border-radius: 0 3px 3px 0;
	border-right: solid 1px #ccc;
}

.alert {
	padding: 15px;
	border-radius: 5px;
}

.alert.default {
	background: #fafafa;
	border: solid 1px #e0e0e0;
}

.progress {
	border-radius: 5px;
	border: solid 1px #ccc;
	height: 15px;
}

.progress .filled {
	width: 60%;
	background: #176CED;
	height: 100%;
	border-radius: 5px;
}

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	position: relative;
}

.tab {
	display: inline-block;
	margin-right: 1px;
	padding: 8px 10px;
	color: #666;
	border: solid 1px #ccc;
	border-bottom: none;
	min-width: 80px;
	text-align: center;
	border-radius: 4px 4px 0 0;
	position: relative;
	background: #eee;
	cursor: pointer;
}

.tab.active {
	border-top: solid 2px #009856;
	font-weight: bold;
	color: #333;
	top: 1px;
	background: #fff;
	box-shadow: 2px -1px 2px #eee;
}

.tab:hover {
	background: #f6f6f6;
}

.tab.active:hover {
	background: #fff;
}

.tab_body {
	min-height: 200px;
	border: solid 1px #ccc;
	border-radius: 0 3px 3px 3px;
}

.tag {
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 13px;
	position: relative;
	cursor: pointer;
	margin: 2px;
}

.tag .remove_tag {
	font-size: 18px;
	position: relative;
	top: 2px;
	font-weight: bold;
	margin-left: 5px;
	opacity: 0;
	margin: 1px;
}

.tag:hover .remove_tag {
	opacity: 1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.popover {
	position: relative;
	cursor: pointer;
}

.tooltip {
	display: none;
	position: absolute;
	top: -40px;
	border: solid 1px #333;
	background: #333;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px 10px 0px 10px;
	min-width: 100px;
}

.tooltip:after {
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	width: 0;
	height: 0;
	content: "";
	display: block;
	position: relative;
	top: 5px;
}

.popover:hover .tooltip {
	display: block;
}

.table {
	width: 100%;
	border-collapse: collapse;
	border: solid 1px #ddd;
	border-radius: 3px;
	box-shadow: 2px 2px 2px #eee;
}

.table thead tr {
	border-bottom: solid 1px #ddd;
}

.table th {
	background: #fafafa;
	font-weight: bold;
}

.table th, .table td {
	padding: 8px;
	font-size: 13px;
	color: #444;
	text-align: center;
}

.table tr.green th, .table tr.green td {
	color: #fff;
	font-size: 14px;
}

.table.bordered {
}

.nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}

.nav li {
	display: inline-block;
	padding: 10px;
	color: #666;
	font-size: 13px;
	/*color: #185CC4;*/
	cursor: pointer;
	text-transform: uppercase;
}

.nav li:hover {
	background: #fafafa;
}

.accordion {
	box-shadow: 2px 2px 2px #eee;
}

.accordion .header, .accordion .body {
	font-size: 13px;
	color: #333;
	padding: 8px;
	border: solid 1px #ccc;
	border-bottom: none;
}

.accordion .header {
	background: #fafafa;
	border-top: none;
	cursor: pointer;
}

.accordion .header:first-child {
	border-top: solid 1px #ccc;
}

.accordion .header:hover {
	background: #eee;
}

.accordion .body {
	border-top: solid 1px #ccc;
	overflow: hidden;
}

.accordion .set:last-child .header {
	border-bottom: solid 1px #ccc;
}

.accordion .set:last-child.active .header {
	border-bottom: none;
}

.accordion .set:last-child.active .body {
	border-bottom: solid 1px #ccc;
}

.accordion .set.active .header {
	font-weight: bold;
}

.accordion .ng-hide {
	display: block !important;
	height: 0;
	padding: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.accordion .ng-show {
	height: auto;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.pull-right {
	float: right;
}

.col1 {
	width: 10%;
}

.col2 {
	width: 20%;
}

.col3 {
	width: 30%;
}

.col4 {
	width: 40%;
}

.col5 {
	width: 50%;
}

.col6 {
	width: 60%;
}

.col7 {
	width: 70%;
}

.col8 {
	width: 80%;
}

.col9 {
	width: 90%;
}

.col10 {
	width: 100%;
}

.modal_error {
    position: fixed;
    width: 350px;
    border: solid 1px #ccc;
    border-radius: 3px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block;
    background: #fff;
    box-shadow: 0 0 5px #444;
    padding: 20px;
    z-index: 10000;
    height: 200px;
    /*opacity: 0;*/
}

.modal_error .close {
    color: #ccc;
    float: right;
    cursor: pointer;
}

.modal_error .close:hover {
    color: #aaa;
}

.modal_error .btn_ok {
    background: #FDFDFD;
    color: #444;
    border: solid 1px #ccc;
    height: 30px;
    width: 75px;
    border-radius: 5px;
    cursor: pointer;
}

.modal_error .btn_ok:hover {
    background: #f6f6f6;
}

.modal_error .modal_container {
    margin-top: 20px;
    position: relative;
}

.modal_backdrop {
    background: #000;
    opacity: 0.65;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.search_modal {
	position: fixed;
	margin: auto;
	display: inline-block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 300px;
	height: 200px;
	background: #fff;
	font-size: 24px;
	color: #999;
	font-weight: 300;
	text-align: center;
	box-shadow: 0 0 5px #ddd;
}

.search_modal span {
	position: relative;
	top: 80px;
}

.search_modal img {
	margin-right: 10px;
	position: relative;
	top: 3px;
}

.pull_right {
	float: right;
}

.small_link {
	font-size: 12px;
	color: blue;
	cursor: pointer;
}

.small_link:hover {
	text-decoration: underline;
}

.modal {
    border: solid 1px #ccc;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: #FAFAFA;
    border-radius: 5px;
}

.modal .header {
    padding: 20px;
    font-size: 20px;
    color: #333;
}

.modal .body {
    padding: 0 20px;
    color: #333;
}

.modal .footer {
    padding: 20px;
    font-size: 20px;
    color: #333;
    text-align: right;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}

.modal.small {
	width: 400px;
	height: 200px;
}

.modal.medium {
	width: 600px;
	height: 300px;
}

.modal.large {
    width: 800px;
    height: 500px;
}

.modal.xlarge {
    width: 980px;
    height: 500px;
}

.modal.large .body {
    max-height: 420px;
    overflow: auto;
}