<html ng-app="Jockstrap">
<head>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
</head>
<body ng-controller="JockstrapController">

<div class="container">

<div class="panel">
	<div class="header">Accordion</div>
	<div class="body">
		<!-- <accordion ng-init="accordion_demo = 'demo'">
			<div class="set" ng-class="{active: accordion_demo == 'demo'}">
				<div class="header" ng-click="accordion_demo = 'demo'">Demo</div>
				<div class="body" ng-show="accordion_demo == 'demo'">body</div>
			</div>
			<div class="set" ng-class="{active: accordion_demo == 'html'}">
				<div class="header" ng-click="accordion_demo = 'html'">HTML</div>
				<div class="body" ng-show="accordion_demo == 'html'">body</div>
			</div>
			<div class="set" ng-class="{active: accordion_demo == 'js'}">
				<div class="header" ng-click="accordion_demo = 'js'">JS</div>
				<div class="body" ng-show="accordion_demo == 'js'">body</div>
			</div>
		</accordion> -->

		<accordion data-name="accordion_demo">
			<div class="set" data-show="demo">
				<div class="header">Demo</div>
				<div class="body">body</div>
			</div>
			<div class="set" data-show="html">
				<div class="header">HTML</div>
				<div class="body">body</div>
			</div>
			<div class="set" data-show="js">
				<div class="header">JS</div>
				<div class="body">body</div>
			</div>
		</accordion>

	</div>
</div>



<div class="panel">
	<div class="header">Dropdown</div>
	<div class="body">

<dropdown src="dd" text="Dropdown"></dropdown>


	<div class="label_code">HTML</div>
	<pre class="prettyprint">
&lt;dropdown src="dd" text="Dropdown">&lt;/dropdown>
	</pre>

	<div class="label_code">JS</div>
	<pre class="prettyprint">
// Some function
$scope.show_msg = function() {
	alert('Hey this was a function call');
};

// Data for the drop down
$scope.dd = [
	{
		text: 'Title',
		type: 'header'
	},
	{
		text: 'item',
		onclick: $scope.show_msg
	},
	{
		type: 'divider'
	},
	{
		text: 'second'
	}
];
	</pre>

	</div>
</div>



</div>



<script type="text/javascript" src="js/jockstrap.js"></script>

<link rel="stylesheet" type="text/css" href="css/normalize.css">
<link rel="stylesheet" type="text/css" href="css/jockstrap.css">
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

<style type="text/css">
.label_code {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}

pre.prettyprint {
	border: solid 1px #ccc;
	padding: 20px;
	font-size: 13px;
}
</style>

<script type="text/javascript">
Jockstrap.controller('JockstrapController', ['$scope', function($scope) {

$scope.show_msg = function() {
	alert('Yo man');
};

$scope.dd = [
				{
					text: 'Title',
					type: 'header'
				},
				{
					text: 'item',
					onclick: $scope.show_msg
				},
				{
					type: 'divider'
				},
				{
					text: 'second'
				}
			];
}]);
</script>


</body>
</html>