.container {
	padding: 20px;
	width: 980px;
	margin: 0 auto;
}

.btn {
	border-radius: 3px;
	padding: 5px 10px;
	color: #333;
	background: #eee;
	border: solid 1px #ccc;
	outline: none;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
}

.default {
	background: #eee;
	border: solid 1px #ccc;
	color: #333;
}

.blue {
	background: #176CED;
	color: #fff;
	border: solid 1px #176CED;
}

.green {
	background: #009856;
	color: #fff;
	border: solid 1px #009856;
}

.red {
	background: #D13D29;
	color: #fff;
	border: solid 1px #D13D29;
}

.yellow {
	background: #FFB402;
	color: #fff;
	border: solid 1px #FFB500;
}

.black {
	background: #333;
	color: #fff;
	border: solid 1px #333;
}

.btn:hover {
	/*opacity: 0.9;*/
}

input[type="text"], input[type="password"], select {
	padding: 5px 10px;
	border: solid 1px #ccc;
	border-radius: 3px;
	outline: none;
	color: #333;
	font-size: 14px;
	height: 30px;
	background: #fff;
}

.panel {
	padding: 20px;
	border: solid 1px #ccc;
	border-radius: 3px;
	margin: 20px 0 20px 0;
}

.lov {
	display: inline-block;
	overflow: hidden;
}

.lov input[type="text"] {
	border-radius: 3px 0 0 3px;
	float: left;
}

.lov button {
	border-radius: 0 3px 3px 0;
	float: left;
	border-left: none;
}

.panel > .header {
	background: #fafafa;
	margin: -20px;
	padding: 13px;
	font-size: 18px;
	color: #444;
	overflow: hidden;
}

.panel > .body {
	padding: 20px;
	background: #fff;
}

.menu {
	position: relative;
}

.menu:hover {
	background: #fff;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	z-index: 100;
	color: #111;
}

.menu ul {
	list-style-type: none;
	padding: 0;
	position: absolute;
	top: 15px;
	left: -1px;
	background: #fff;
	z-index: 99;
	color: #333;
	min-width: 100px;
	border: solid 1px #ddd;
	border-top: solid 1px #ddd;
	border-radius: 0 3px 0 0;
	overflow: hidden;
	display: none;
}

.menu > ul > li {
	padding: 7px 10px;
	color: #333;
	font-size: 14px;
	text-align: left;
	min-width: 100px;
	white-space: nowrap;
}

.menu:hover ul {
	display: block;
}

.menu > ul > li:hover {
	background: #fafafa;
}

.menu > ul > li.header {
	padding: 10px 3px 0px 10px;
	font-size: 12px;
	color: #666;
}

.menu > ul > li.header:hover {
	background: none;
	cursor: default;
}

.menu > ul > li.divider {
	padding: 0;
	border-bottom: solid 1px #ddd;
}

.btn_group {
	clear: both;
	overflow: hidden;
}

.btn_group .btn {
	border-radius: 0;
	margin: 0;
	float: left;
	border-left: solid 1px #ccc;
	border-right: none;
}

.btn_group .btn:first-child {
	border-radius: 3px 0 0 3px;
	border-left: solid 1px #ccc;
}

.btn_group .btn:last-child {
	border-radius: 0 3px 3px 0;
	border-right: solid 1px #ccc;
}

.alert {
	padding: 15px;
	border-radius: 5px;
}

.progress {
	border-radius: 5px;
	border: solid 1px #ccc;
	height: 15px;
}

.progress .filled {
	width: 60%;
	background: #176CED;
	height: 100%;
	border-radius: 5px;
}

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 14px;
	position: relative;
}

.tab {
	display: inline-block;
	margin-right: 1px;
	padding: 8px 10px;
	color: #666;
	border: solid 1px #ccc;
	border-bottom: none;
	min-width: 80px;
	text-align: center;
	border-radius: 4px 4px 0 0;
	position: relative;
	background: #eee;
	cursor: pointer;
}

.tab.active {
	border-top: solid 2px #009856;
	font-weight: bold;
	color: #333;
	top: 1px;
	background: #fff;
	box-shadow: 2px -1px 2px #eee;
}

.tab:hover {
	background: #f6f6f6;
}

.tab.active:hover {
	background: #fff;
}

.tab_body {
	min-height: 200px;
	border: solid 1px #ccc;
	border-radius: 0 3px 3px 3px;
}

.tag {
	border-radius: 20px;
	padding: 5px 10px;
	font-size: 13px;
	position: relative;
	cursor: pointer;
}

.tag .remove_tag {
	font-size: 18px;
	position: relative;
	top: 2px;
	font-weight: bold;
	margin-left: 5px;
	opacity: 0;
	margin: 1px;
}

.tag:hover .remove_tag {
	opacity: 1;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

.popover {
	position: relative;
	cursor: pointer;
}

.tooltip {
	display: none;
	position: absolute;
	top: -40px;
	border: solid 1px #333;
	background: #333;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px 10px 0px 10px;
	min-width: 100px;
}

.tooltip:after {
	border-top: 5px solid #333;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	width: 0;
	height: 0;
	content: "";
	display: block;
	position: relative;
	top: 5px;
}

.popover:hover .tooltip {
	display: block;
}